body{
    background-image: url('/zdjecia/swiece.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
button{
    background-color: #333333; color: #03fcf4;border-radius: 5px;
    
}